/* Reset CSS */
@import 'normalize.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-site: 'Lato', sans-serif;
}

body {
  background-color: #fff;
  font-family: var(--font-site);
  width: 97vw;
}

header, main, footer {
  width: 900px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 50px 0 30px 0;
  font-size: 60px;
}

header h3 {
  font-style: italic;
  font-size: 20px;
  margin: 20px 0;
}

header p {
  text-align: center;
  font-size: 25px;
}

.titulo-lista {
  font-size: 25px;
}

.titulo-lista h4 {
  background-color: #000;
  color: white;
  text-align: center;
}

.titulo-lista ul {
  background-color: #000;
  color: rgb(255, 255, 255);
  padding: 15px;
  list-style-position: inside;
}

.titulo-lista ul li {
  margin: 10px 0;
}


footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

footer h3 {
  font-style: italic;
  margin-bottom: 50px;
}

footer h2 a {
  text-decoration: none;
}

footer h2 a:hover {
  text-decoration: underline;
}

body img {
  width: 600px;
}